:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Lobster", cursive;
  --hero-color: #f9f8ed;
  --secondary-font-color: #764f51;
  --third-font-color: #4a2b13;
}

h1 {
  padding-top: 5px;
  font-size: 65px;
  font-family: var(--secondary-font);
  color: var(--secondary-font-color);
  text-shadow: 5px 5px 10px rgba(18, 18, 18, 0.2);
}

h2 {
  font-family: var(--primary-font);
  font-weight: 500;
  color: black;
  font-size: 35px;
}

h3 {
  padding-top: 150px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 30px;
  color: black;
  text-shadow: 5px 5px 10px rgba(18, 18, 18, 0.3);
}

#navigation-bar {
  margin-right: 120px;
  margin-top: 20px;
  font-family: var(--primary-font);
  font-size: 20px;
}

.navbar-brand {
  margin-right: 50px;
  font-size: 28px;
  text-shadow: 5px 5px 10px rgba(18, 18, 18, 0.3);
}

.hero {
  text-align: center;
  background-color: var(--hero-color);
  padding: 110px 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

#hero-image {
  border-radius: 80px;
  border: 3px solid #f9f8ed;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
}

#hero-button {
  margin-top: 35px;
  border-radius: 10px;
  border: 3px solid #f9f8ed;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  background-color: #ebcbae;
  border-color: #ebcbae;
  color: var(--third-font-color);
  padding: 15px 30px;
  font-family: var(--secondary-font);
}

#hero-button:hover {
  color: #f9f8ed;
}

.headline {
  font-family: var(--primary-font);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
  opacity: 0.5;
}

#paragraph-image {
  margin: 0 auto;
  display: block;
  border-radius: 20px;
}

.bg-yellow {
  background-color: var(--hero-color);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  border: 2px outset var(--hero-color);
  padding: 40px;
}

.paragraph-headline {
  font-family: var(--secondary-font);
  font-size: 45px;
  color: var(--third-font-color);
  text-align: center;
}

.homepage-paragraph {
  font-family: var(--primary-font);
  line-height: 1.8;
  font-size: 17px;
  text-align: justify;
  width: 600px;
  margin: 50px;
}

#paragraph-button {
  border-radius: 10px;
  border: 3px solid #f9f8ed;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  border-color: #ebcbae;
  color: var(--third-font-color);
  font-family: var(--secondary-font);
  text-align: center;
  margin: 50px;
}

.contact-section {
  border: 1px solid var(--hero-color);
  background-color: rgba(249, 248, 237, 0.4);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  padding: 30px;
  font-family: var(--secondary-font);
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 40px;
  color: var(--third-font-color);
}

.contact-section a {
  color: var(--secondary-font-color);
}

.coder {
  font-family: var(--secondary-font);
  text-align: center;
  color: var(--third-font-color);
  font-size: 18px;
}

.about-section {
  padding: 60px 20px;
}

.about-section h1 {
  font-size: 50px;
}

.about-section h2 {
  font-size: 20px;
}

.about-section p {
  font-size: 18px;
  text-align: justify;
}

.about-section a {
  border-radius: 10px;
  border: 3px solid #f9f8ed;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  border-color: #ebcbae;
  color: var(--third-font-color);
  font-family: var(--secondary-font);
  text-align: center;
}

.about-section img {
  border-radius: 80px;
  border: 3px solid #f9f8ed;
  margin-left: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.coding-section h1 {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: center;
}

.coding-section .project-paragraph {
  margin-top: 100px;
  border: 3px solid var(--hero-color);
  border-radius: 20px;
  background-color: var(--hero-color);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  padding: 40px;
}

.coding-section h2 {
  font-family: var(--secondary-font);
  color: var(--secondary-font-color);
  text-align: center;
  margin-bottom: 20px;
}

.coding-section p {
  font-family: var(--primary-font);
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.coding-section a {
  border-radius: 10px;
  border: 3px solid #f9f8ed;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  border-color: #ebcbae;
  color: var(--third-font-color);
  font-family: var(--secondary-font);
  text-align: center;
  margin: 0 auto;
  display: block;
}

.coding-section img {
  width: 600px;
  border-radius: 40px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid var(--hero-color);
  margin-left: 30px;
}

.photography-section h1 {
  font-size: 45px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.photography-section img {
  height: 400px;
  width: 600px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

.photography-section p {
  font-size: 18px;
  text-align: center;
  font-family: var(--secondary-font);
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 18px;
  }
  .navbar-toggler {
    font-size: 18px;
  }
  .hero {
    padding: 80px 40px;
    margin-right: 30px;
    background-color: white;
    box-shadow: none;
  }
  h2 {
    font-size: 25px;
    margin-top: -40px;
  }
  h1 {
    font-size: 35px;
    margin-bottom: -90px;
  }
  h3 {
    font-size: 25px;
  }
  #hero-image {
    width: 200px;
    margin-bottom: -90px;
  }
  #hero-button {
    font-size: 25px;
  }
  .headline {
    font-size: 20px;
    text-align: left;
    margin: 20px;
    opacity: 1;
  }
  .paragraph-headline {
    font-size: 30px;
  }
  .second-container img {
    width: 280px;
    float: left;
  }
  .bg-yellow {
    border: none;
    box-shadow: none;
    background-color: white;
  }
  .homepage-paragraph {
    font-size: 20px;
    width: 250px;
    text-align: start;
    margin: 20px;
  }
  #paragraph-button {
    font-size: 23px;
    margin: 20px;
  }
  .coder {
    text-align: left;
    font-size: 17px;
  }

  .about-section h1 {
    font-size: 50px;
    margin-bottom: 40px;
  }
  .about-section p {
    font-size: 25px;
    text-align: left;
  }
  .about-section a {
    font-size: 30px;
  }
  .about-section img {
    margin-left: -10px;
  }
  .coding-section .project-paragraph {
    margin: 80px 20px;
  }
  .coding-section h1 {
    font-size: 32px;
  }
  .coding-section h2 {
    font-size: 30px;
  }
  .coding-section p {
    font-size: 20px;
  }
  .coding-section a {
    font-size: 25px;
  }
  .coding-section img {
    width: 320px;
  }
  .photography-section p {
    font-size: 25px;
  }
}
